body, html {
	background: #000;
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;


	font-family: "HelveticaNeue-Light";
	letter-spacing: -0px;
	color: #fff;
	font-size: 75px;
	 -webkit-font-smoothing: antialiased;
}

/* -- Margins and Basic Structure -- */
.top
{
	position: absolute;
	top: 50px;
}

.farbottom
{
	position: absolute;
	bottom: 0px;
}


.left
{
	position: absolute;
	left: 15px;
}
.right
{
	position: absolute;
	right: 15px;
	text-align: right;
}

.center-ver
{
	position: absolute;
	top: 50%;
	height: 200px;
	margin-top: -100px;
	line-height: 100px;
}

.lower-third
{
	position: absolute;
	top: 75%;
	height: 200px;
	margin-top: -100px;
	line-height: 100px;	
}

.center-hor
{
	position: absolute;
	right: 10px;
	left: 10px;
	text-align: center;	
}

.bottom
{
	position: absolute;
	bottom: 50px;
}

/* -- Temperature and Rain Graph -- */
.tempgraph
{
	width: 200px;
	height: 80px;
	float: right;
}

.tempgraphTempMark
{
	fill:         red;
	stroke:       black;
	stroke-width: 1;
}

.tempgraphTempPath
{
    fill:         none;
	stroke:       red;
	stroke-width: 1.5;
}

.tempgraphTempText
{
    font-family: HelveticaNeue-Light;
    font-size:   10px;
    fill:        white;
}

.tempgraphRainPath
{
    fill:         none;
	stroke:       #B0C4DE;		/* lightsteelblue */	
	stroke-width: 1;
}

.tempGraphTopEdgeLine
{
    stroke:           #506078;	/* Darker version of lightsteelblue */
	stroke-width:     2;
	stroke-dasharray: 1,5;
}

.tempgraphRainArea
{
    fill:         #304056;		/* Even darker version of lightsteelblue */
	stroke-width: 0;
}


/* Hot/Cold Lines */
.tempGraphHotColdLine
{
	stroke-width:     3;
/*	stroke-dasharray: 1,1;*/
	stroke-opacity:   25%;
	fill-opacity:     50%;
}

.tempGraphHotColdLine.freezeLine
{
	fill:             steelblue;
    stroke:           steelblue;
}

.tempGraphHotColdLine.hotLine
{
	fill:             orange;
    stroke:           orange;
}

.tempGraphHotColdLine.lineIcon
{
	font-size:    15px;
}

.tempGraphHourMarker
{
    stroke:           white;
	stroke-width:     1;
/*	stroke-dasharray: 1,1;*/
	stroke-opacity:   25%;
}

.tempGraphHourMarkerText
{
    font-family:  HelveticaNeue;
    font-size:    8px;
    fill:         white;
	fill-opacity: 35%;
	text-anchor:  begin;
}

/* -- Font Sizes -- */
.xxxsmall
{
	font-size: 10px;
	letter-spacing: 0px;
	font-family: "HelveticaNeue-Medium";
}

.xxsmall
{
	font-size: 15px;
	letter-spacing: 0px;
	font-family: "HelveticaNeue-Medium";
}
.xxsmall .wi {
	line-height: 15px;
}

.xsmall
{
	font-size: 20px;
	letter-spacing: 0px;
	font-family: "HelveticaNeue-Medium";
}
.xsmall .wi {
	line-height: 20px;
}


.small
{
	font-size: 25px;
	letter-spacing: 0px;
	font-family: "HelveticaNeue-Medium";
}
.small .wi {
	line-height: 25px;
}

.medium
{
	font-size: 35px;
	letter-spacing: -1px;
	font-family: "HelveticaNeue-Light";
}
.medium .wi {
	line-height: 35px;
}

/* -- Dimming -- */
.xxdimmed
{
	color: #444;
} 

.xdimmed
{
	color: #666;
} 

.dimmed
{
	color: #aaa;
}

.light
{
	font-family: "HelveticaNeue-UltraLight";
}


/* -- Weather Icons -- */
.wi {
	line-height: 75px;
}

.icon 
{
	position: relative;
	top :-10px;
	display: inline-block;
	font-size: 45px;
	padding-right: 5px;
	font-weight: 100;
	margin-right: 10px;
}

.icon-small
{
	position: relative;
	display: inline-block;
	font-size: 20px;
	padding-left: 10px;
	padding-right: -10px;
	font-weight: 100;
}

/* -- Time -- */
.time {
	font-size: 75px;
	color: #FFF;
	padding-left: 5px;
}

.time .sec_old {
	font-size: 25px;
	color: #666;
	padding-left: 5px;
	position: relative;
	top: -35px;
}

.time .sec {
	font-size: 25px;
	color: #666;
	padding-left: 5px;
	position: relative;
	padding-top: 5px;
	padding-top: 15px;
}

.time .am_pm {
	font-size: 25px;
	color: #666;
	padding-left: 5px;
	position: relative;
	padding-bottom: 8px;
}

.time .warning {
	color:FFA500
}

/* -- Weather Summary -- */
.summary {
	width: 200px;
	text-align: center;
	float: right;
}

.vspace {
	width: 200px;
	content:"test"
}

/* -- Weather Forecast -- */
.forecast-table {
	text-align: right;
	font-size: 20px;
	line-height: 15px;
}

.forecast-table td, th
{
	border-spacing: 0;
	border-collapse: collapse;
	padding:0px;
/*	border: 1px solid white;
	border-left: 0px;*/
}

.forecast-table .day
{
	width: 75px;
	text-align: right;
	color: #999;
}

.forecast-table .temp-min, .forecast-table .temp-max  
{
	width: 40px;
	text-align: right;
	padding-left:0;
}

.forecast-table .forecast-icon
{
	text-align:   left;
	padding-left: 13px;
}

/* -- Calendar -- */
.calendar-table {
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
}
.calendar-table .days {
	padding-left: 20px;
	text-align: right;
}

.holidayCustom {
	color: gold;
}

/* -- MBTA -- */
.mbta {
	width: 225px;
}

/* -- Last Updated -- */
.lastupdated {
	width: 250px;
	text-align: right;
}

/* -- Dishwasher -- */
.dishwasher {
	background-color: white;
	color: black;
	margin: 0 200px;	
	font-size: 60px;	
	border-radius: 1000px;
	border-radius: 1200px;
	display: none;
}

/* -- Fonts -- */
@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('font/HelveticaNeue-UltraLight.eot'); /* IE9 Compat Modes */
  src: url('font/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/HelveticaNeue-UltraLight.woff') format('woff'), /* Modern Browsers */
       url('font/HelveticaNeue-UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/HelveticaNeue-UltraLight.svg#9453ea8da727d260bcdbfa605bdbb5d2') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('font/HelveticaNeue-Medium.eot'); /* IE9 Compat Modes */
  src: url('font/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/HelveticaNeue-Medium.woff') format('woff'), /* Modern Browsers */
       url('font/HelveticaNeue-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/HelveticaNeue-Medium.svg#d7af0fd9278f330eed98b60dddea7bd6') format('svg'); /* Legacy iOS */ 
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('font/HelveticaNeue-Light.eot'); /* IE9 Compat Modes */
  src: url('font/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/HelveticaNeue-Light.woff') format('woff'), /* Modern Browsers */
       url('font/HelveticaNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/HelveticaNeue-Light.svg#7384ecabcada72f0e077cd45d8e1c705') format('svg'); /* Legacy iOS */      
  font-style:   normal;
  font-weight:  200;
}

